{% extends 'base.html' %}

{% block title %}Equipe{% endblock %}

{% block content %}
    <h2>Nossa Equipe</h2>

    <div class="membro">
        <img src="/static/membro1.jpg" alt="Membro 1">
        <h3>Heleno Nogueira</h3>
        <p class="descricao">Atualmente bancário, migrando para área de tecnologia, fascinado por coisa nova
        desbravando o que tem de melhor nesse mundo, sonhador que sempre quis a tal liberdade geográfica
        para explorar esse mundo, iniciante no curso de sistemas para internet, me identifiquei com área de
        dados logo de inicio e batalhando para futuramente ser um engenheiro de dados.</p>
    </div>

    <div class="membro">
        <img src="/static/membro2.jpg" alt="Membro 2">
        <h3>Victor</h3>
        <p class="descricao">Atualmente estudante de sistemas para internet, sou amante dos esportes principalmente
            Jiu-Jitsu, Futebol e basketball. Tenho interesse na área de desenvolvimente sendo um programador fullstack
            em busca da minha liberdade financeira e procurando evoluir cada vez mais.</p>
    </div>

    <div class="membro">
        <img src="/static/membro3.jpg" alt="Membro 3">
        <h3>Luís</h3>
        <p class="descricao">Jovem entusiasta, apaixonado por música, enquanto aspira a se tornar um desenvolvedor Frontend.
        A música é a minha fonte de inspiração para criar experiências visuais. Buscando trilhar um caminho como desenvolvedor
        Frontend, busco combinar minha criatividade artística com habilidades técnicas para moldar o futuro digital, onde o design
        e a música se unem em harmonia.</p>
    </div>

    <div class="membro">
        <img src="/static/membro4.jpg" alt="Membro 4">
        <h3>Teófilo</h3>
        <p class="descricao">Estudante da área de sistemas e sempre a procura de novos desafios para
            aprimorar o conhecimento e as habilidades.</p>
    </div>
{% endblock %}
