{% extends 'base.html' %}

{% block title %}Equipe{% endblock %}

{% block content %}
    <h2>Nossa Equipe</h2>

    <div class="membro">
        <img src="/static/membro1.jpg" alt="Membro 1">
        <h3>Heleno Nogueira</h3>
        <p class="descricao">Atualmente bancário, migrando para área de tecnologia, fascinado por coisa nova
        desbravando o que tem de melhor nesse mundo, sonhador que sempre quis a tal liberdade geográfica
        para explorar esse mundo, iniciante no curso de sistemas para internet, me identifiquei com área de
        dados logo de inicio e batalhando para futuramente ser um engenheiro de dados.</p>
    </div>

    <div class="membro">
        <img src="/static/membro2.jpg" alt="Membro 2">
        <h3>Victor</h3>
        <p class="descricao">Descrição do Membro 2. Algumas informações sobre suas contribuições e habilidades.</p>
    </div>

    <div class="membro">
        <img src="/static/membro3.jpg" alt="Membro 3">
        <h3>Luís</h3>
        <p class="descricao">Descrição do Membro 3. Algumas informações sobre suas contribuições e habilidades.</p>
    </div>

    <div class="membro">
        <img src="/static/membro4.jpg" alt="Membro 4">
        <h3>Teófilo</h3>
        <p class="descricao">Descrição do Membro 4. Algumas informações sobre suas contribuições e habilidades.</p>
    </div>
{% endblock %}
